body {
  background-color: #4b10a3;
  background-color: #dfdbe5;
  background-color: #17131e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239688ac' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.navbar {
  padding: 1em;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-family: "New Tegomin", serif;
}
.navbar h1,
.navbar ul {
  display: inline-block;
}
.navbar ul li {
  margin: 0 1em;
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.content {
  display: grid;
  width: 90%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.content a {
  text-decoration: none;
  color: #fff;
}

.card {
  border: 1px solid #ffffff;
  border-radius: 7.5%;
  padding: 1em;
  background: #000;
  color: #fff;
}

img {
  width: auto;
  border: solid 1px rgba(228, 225, 225, 0.884);
  border-radius: 7.5px;
  margin: auto;
}
.btns {
  text-align: right;
  justify-self: right;
}
.btn {
  margin: 1em;
  border: 2px ridge #000;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #4b10a3;
  cursor: pointer;
}
.taker {
  cursor: pointer;
}
